.fade {
  opacity: 1;
  transition: 0.5s ease;
  cursor: pointer;
}

.fade:hover {
  opacity: 0.4;
}

@media screen and (max-width: 900px) {
  .rbc-toolbar {
    flex-direction: column;
    align-items: center;
  }
}
/* For quill editor */
.ql-container {
  min-height: 12rem;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.ql-editor {
  height: 100%;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

/* chakra for base headings */
h1 {
  font-weight: var(--chakra-fontWeights-bold);
  font-size: var(--chakra-fontSizes-3xl);
  line-height: 1.2;
}
h2 {
  font-weight: var(--chakra-fontWeights-bold);
  font-size: var(--chakra-fontSizes-xl);
  line-height: 1.2;
}
